/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    box-sizing: border-box;
}

.userItem {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 20%;
}

.containerForItems {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}